/_build
/psbp.agda-lib
/src/MAlonzo
/docs
/src/Documentation
/src/EnvResulting_Self_Add_PlusOne_WithEnv
/src/Factorial
/src/Fibonacci
/src/FibonacciWithCont
/src/FibonacciWithState
/src/FibonacciWithPar
/src/FibonacciWithStatePair
/src/IdTimesTwo_Add_PlusOne
/srv/PlusOne
/src/PlusOne_Add_TimesTwo
/src/PlusOneTimesTwo
/src/Self_Add_PlusOne
/src/Self_Add_PlusOne_WithEnv
/src/TimesTwo_Add_PlusOne
/src/TimesTwoPlusOne_TimesTwo
/src/Haskell/DramaActor.hi
/src/Haskell/DramaActor.o
